* {
  box-sizing: border-box;
}
header {
  background-color: #244751;
  color: #e8fdff;
  padding-left: 1em;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}
.finstagram-post {
  margin-bottom: 48px;
}
[role="main"] {
  padding-top: 6em;
}
div {
  background: tomato !important;
}
div {
  background: limegreen;
}
.finstagram-post .user-info img {
  border-radius: 50%;
}

.user-info {
  box-shadow: inset -5px 6px 8px 2px #00000069;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.user-info:hover {
  transform: scale(1.2) rotate(4deg);
  transition: all 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.user-info:hover img {
  transform: rotate(1080deg);
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
a.photo:active {
  transform: scale(0.1) rotate(4deg) skew(6deg) rotate(10turn);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.actions:hover {
  transform: scale(1.1);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
.actions:active {
  transform: translate(0, 2px) scale(0.98);
}

.actions,
a.photo,
.user-info {
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
